*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}
