:host {
  display: inline-block;
}

button {
  width: var(--tap-min);
  height: var(--tap-min);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--c-text);
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--icon-size);
}

:host([bordered]) button {
  border: var(--border-solid);
  border-radius: var(--radius-bubble);
}
